#posts-index img {
  width: 300px;
}

body {
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-image: url("https://static.vecteezy.com/system/resources/thumbnails/005/178/915/small/abstract-white-and-light-gray-wave-modern-soft-luxury-texture-with-smooth-and-clean-subtle-background-illustration-eps-10-free-vector.jpg");
}

html {
  scroll-behavior: smooth;
}

input[type=text] {
  padding:10px;
  border:0;
  box-shadow:0 0 10px 4px rgba(11, 4, 129, 0.774);
  width: 30%;
  resize: vertical;
  padding:15px;
  border-radius:10px;
  border:0;
  margin-bottom: 5px;
}

footer {
  color: blue;
}

#posts-index img {
  width: 200px;
}

header {
  background-color: darkblue;
  color: lightblue;
  padding: 25px;
  font-size: larger;
}

header a {
  color: lightblue;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

button {
  padding: 10px;
  border: 5;
  background-color: rgb(74, 74, 164);
  font-weight: 600;
  border-radius: 5px;
  width: 300px;
}



/* button:hover {
  color: blue;
  background-color: darkgray;
} */

.inputfields {
  color: rgb(0, 0, 54);
  font-size: larger;
}

textarea {
  width:30%;
  resize: vertical;
  padding:15px;
  border-radius:15px;
  border:0;
  box-shadow:0 0 10px 4px rgba(11, 4, 129, 0.774);
  height:100px;
}